
.footer
{

  a
  {
    text-decoration: none;
    font-size: .9em;
    color: $light;
  }
  
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

}

.sitemap
{
  display: flex;
  justify-content: space-around;

  a
    {
      position: relative;
      &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        margin-top: 0px;
        right: 0;
        background: $light;
        transition: 0.4s ease;
      }
      &:hover
      {
        &::after
        {
          width: 100%;
          left: 0;
          background: $light;
        }
      }
    }
}

.post-sitemap
{
  .socials
  {
    text-align: center;
    ul
    {
      display: flex;
      justify-content: center;
      li
      {
        margin: 0em 1em;
      }
    }
  }

  .site-info
  {
    margin-top: 4em;
  }

  text-align: center;
  margin-top: 1em;

  h6
  {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
  }
}
