nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .logo
  {
    font-size: 1.4em;
    font-weight: bold;
  }

  a
  {
    text-decoration: none;
    font-size: 1em;
    color: $light;
  }
  
  ul
  {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;

    a
    {
      position: relative;
      &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: $light;
        transition: 0.4s ease;
      }
      &:hover
      {
        &::after
        {
          width: 100%;
          left: 0;
          background: $light;
        }
      }
    }

    li
    {
      a
      {
        margin: 1em;
      }
    }
    li:last-child
    {
      a
      {
        padding-right: 0em;
      }
    }
  }
}