  .contact-form
{
    padding: 2em 1em;

    .form-group{
        position: relative;
        height: 50px;
        overflow: hidden;
        input
        {
            width: 100%;
            height: 100%;
            background: $dark;
            color: $light;
            padding-top: 20px;
            border: none;
            outline: none;
        }
        
        label
        {
            position: absolute;
            bottom: 0px;
            left: 0%;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid gray;
            
        }
        label::after
        {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0px;
            border-bottom: 1px solid $primary;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }

        .label-text
        {
            position: absolute;
            bottom: 5px;
            left: 0px;
            transition: all 0.3s ease;
        }

        input:focus + .label-class .label-text,  input:not(:placeholder-shown) + .label-class .label-text
        {
            transform: translateY(-20px);
            font-size: .8em;
            color: $primary;
        }
        
        input:focus + .label-class::after, input:not(:placeholder-shown) + .label-class::after
        {
            transform: translateX(0%);
        }
        
        textarea
        {
            width: 100%;
            height: 100%;
            background: $dark;
            color: $light;
            padding-top: 20px;
            border: none;
            resize: none;
        }
        textarea:focus + .label-class .label-text,  textarea:not(:placeholder-shown) + .label-class .label-text
        {
            transform: translateY(-20px);
            font-size: .8em;
            color: $primary;
        }
        
        textarea:focus + .label-class::after, textarea:not(:placeholder-shown) + .label-class::after
        {
            transform: translateX(0%);
        }
    }

    button
    {
        margin-top: 2em;
    }
}