
.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
  }

.scroll-top-btn {
    display: inline-block;
    margin: .8em;
    background-color: $primary;
    color: $light;
    padding: .5em;
    font-size: 1.5em;
    border-radius: 3em;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  