@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');

*
{
  box-sizing: border-box;
}

body, head
{
  visibility: hidden;
  margin: 0;
  padding: 0;
}

body
{
  background: $dark;
  color: $light;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lora', serif;
}

.bg-light
{
  background: $light;
  color: $dark;
}
.bg-primary
{
  background: $primary;
  color: $light;
}
.bg-monochromatic
{
  background: $monochromatic;
  color: $dark;
}
.bg-complementary
{
  background: $complementary;
  color: $light;
}


.container
{
  padding: 1em;
  @include media(">=phone") {
    padding: 1em;
    width: 100%;
    min-width: 100%;
  }
  @include media(">=tablet") {
    padding: 2em;
    width: 100%;
    min-width: 100%;
  }
  @include media(">=desktop") {
    width: 1366px;
    min-width: 1366px;
    margin: 0 auto;
    height: 100%;
  }
  @include media(">=LGdesktop") {
    width: 1920px;
    min-width: 1920px;
    margin: 0 auto;
    height: 100%;
  }

  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}
.container-fluid
{
  width: 100%;
  height: 100%;
}
.wrapper
{
  @include media(">=tablet") {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}

h1{
  line-height: 1.4em;
}

p{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7em;
}

.button-dark
{
    text-decoration: none;
    border: 2px solid $dark;
    background: none;
    color: $dark;
    padding: 0.6em 1.4em;
    border-radius: .1em;
}
.button-light
{
    text-decoration: none;
    border: 2px solid $light;
    background: none;
    color: $light;
    padding: 0.5em 1.4em;
    border-radius: .1em;
}
.button-complementary
{
    text-decoration: none;
    border: 2px solid $complementary;
    background: none;
    color: $complementary;
    padding: 0.5em 1.4em;
    border-radius: .1em;
}
.button-primary
{
    text-decoration: none;
    border: 2px solid $primary;
    background: none;
    color: $primary;
    padding: 0.5em 1.4em;
    border-radius: .1em;
}

.text-light
{
  color: $light;
}
.text-dark
{
  color: $dark;
}
.text-align-end
{
  text-align: end;
}

// Mobile Design

.hero-content
{
    h1
    {
        text-align: left;
        text-transform: uppercase;
        width: 80%;
        margin-top: 2em;;
        
        .line
        {
            position: relative;
            overflow: hidden;
            height: 1.5em;
            span
            {
                position: absolute;
            }
        }
    }
    
    h4
    {
        text-align: left;
    }

}

.hero-image
{
    img
    {
        width: 100%;
        height: 100%;
        margin: 2em 0em 0em 0em;
    }
    text-align: end;
    a
    {
        display: inline-block;
        margin: 1em 0em 2em 0em;
    }
}

.subhero-content
{
    padding: 3em 0em 4em 0em;

    h2
    {
        line-height: 2em;
    }
    a
    {
      display: inline-block;
      margin-top: 2em;
    }

}

.features{
    padding: 3em 0em 4em 0em;

    a
    {
        display: inline-block;
        align-items: center;
    }
}

.features-grid
{
    display: grid;
    row-gap: 2em;
    column-gap: 2em;
    grid-template-columns: 1fr;
    padding: 2em 0em 4em 0em;

      @include media(">tablet") {
        grid-template-columns: 1fr 1fr;
        row-gap: 4em;
        column-gap: 4em;
      }

    .feature{
        h2
        {
            color: $complementary;
        }
    }
}
